.timer {
  margin: 0 auto;
  text-align: center;
}

.counter {
  width: 100px;
  display: inline-block;
}

.buttons {
  margin: 0 auto;
  text-align: center;
}

.btnUp {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 25px;
  width: 50px;
}

.btnDown {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 25px;
  width: 50px;
}

.btnStart {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 25px;
  width: 50px;
  background-color: lightgreen;
}

p {
  font-size: 75px;
  margin: 0 auto;
}
